version: '3.8'

services:
  rockstar-newswire-tracker:
    build: .
    image: rockstar-newswire
    container_name: rockstar-newswire-tracker
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      # Mount config folder containing config.yaml and newswire.json
      - ./config:/usr/src/app/config
    environment:
      # Set to true to skip chromium download if we used installed chrome, 
      # but we let puppeteer manage it in Dockerfile for fewer headaches with version mismatch.
      - P_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
      - TZ=Europe/Bratislava
